html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*BACKGROUND*/
body {
    background-color: black;
}

.background {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 2s;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(http://source.unsplash.com/random?nature);*/
}
.bg-loading {
    opacity: 0;
}

/*Faded Header & Footer*/

.fade {
    height: 30vh;
    width: 100vw;
    position: fixed;
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    /*background-image : linear-gradient(to bottom,
        rgba(0,0,0, 0.9) 0%,
        rgba(0,0,0, 0.7) 70%,
        rgba(0,0,0, 0) 100%);*/
}

footer {
    bottom: 0;
    /*background-image : linear-gradient(to bottom,
        rgba(0,0,0, 0) 0%,
        rgba(0,0,0, 0.7) 30%,
        rgba(0,0,0, 0.9) 100%);*/
}

/*Datetme (Clock & DateStamp)*/

.datetime {
    width: 40vw;
}

/*Black Element Background*/
.datetime, .forcast{
    background-color: rgba(0,0,0,0.5);
    padding: 5px 5px 15px 5px;
    margin: 5px;
    border-radius: 5px;
}

h1#time, h2#date {
    width: 100%;
    overflow: auto;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

h2#date{
    font-weight: 100;
    font-size: 15pt;

}

h1#time {
    font-size: 70pt;
    font-weight: 100;
}

#timeColon {
    animation: TICK 1s infinite;
}

@keyframes TICK {
  0%   { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

/*Weather*/
ul.weather {
    width: 100vw;
    overflow: auto;
    padding: 5px;
    margin: 0;
}

li.forcast {
    height: calc(30vh - 10px);
    width: calc(20% - 4px);
    float: left;
    list-style: none;
    margin: 0 2px;
}

div.time, div.icon, div.precipitation, div.temp {
    text-align: center;
}

div.time{
    font-size: 15pt;
}

div.icon {
    overflow: hidden;
    width: 100%;
    height: 100px;
}

div.icon img {
    width: 100%;
    
}
