html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*BACKGROUND*/
body {
    background-color: black;
}

.background {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 2s;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(http://source.unsplash.com/random?nature);*/
}
.bg-loading {
    opacity: 0;
}

/*Faded Header & Footer*/

.fade {
    width: 100vw;
    position: fixed;
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    height: 30vh;
    top: 0;
}

footer {
    height: 20vh;
    bottom: 0;
}

/*Datetme (Clock & DateStamp)*/

.datetime {
    width: 40vw;
}

/*Black Element Background*/
.datetime, .forcast, .calendar{
    background-color: rgba(0,0,0,0.5);
    padding: 5px 5px 15px 5px;
    margin: 5px;
    border-radius: 5px;
}

h1#time, h2#date {
    width: 100%;
    overflow: auto;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

h2#date{
    font-weight: 100;
    font-size: 15pt;

}

h1#time {
    font-size: 70pt;
    font-weight: 100;
}

#timeColon {
    animation: TICK 1s infinite;
}

@keyframes TICK {
  0%   { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

/*Weather*/
ul.weather {
    width: 100vw;
    overflow: auto;
    padding: 5px;
    margin: 0;
}

li.forcast {
    height: calc(20vh - 10px);
    width: calc((100% / 12) - 4px);
    float: left;
    list-style: none;
    margin: 0 2px;
    overflow: hidden;
}

div.time, div.icon, div.precipitation, div.temp {
    text-align: center;
}

div.time{
    font-size: 12pt;
}

div.icon {
    overflow: hidden;
    width: 100%;
}

div.icon img {
    width: 33px;
    height: 33px;
    margin: 5px auto;
}

div.precipitation, div.temp {
    margin-bottom: 4px;
}


/*Calendar*/
section.calendar-holder {
    position: fixed;
    top: calc(80vh - 200px - 5px);
    overflow: auto;
    padding: 5px;
    margin: 0;
}

div.calendar {
    height: 200px;
    float: left;
    margin: 0 2px;
    padding: 0;
    overflow: hidden;
}

div.day {
    width: calc((100% / 5) - 4px);
}

div.summary {
    width: calc((100% / 5 * 2) - 4px);
}

div.calendar div.header {
    /*background: rgba(0,0,0,0.5);*/
    width: 100%;
    padding: 5px;
    text-align: center;
}

div.calendar div.event {
    width: 100%;
    opacity: 50%;

}

div.calendar div.event::before{
    
}

div.calendar div.declan {

}

div.calendar div.stacey {

}
